main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
}

img {
  width: 100%;
  height: 60%;
}

nav {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  margin: 1%;
  background-color: #fff;
  border-image: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  border-image-slice: 1;
}

#section_one {
  background-image: url(img/edgar-castrejon-1CsaVdwfIew-unsplash.jpg);
  background-size: cover;
  width: 100%;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.valgt {
  font-weight: bold;
}

h1 {
  font-family: sans-serif;
  text-align: center;
}

nav {
  text-align: center;
}

article {
  border: #000 2px solid;
}

#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
}

#popup article {
  width: 80vw;
  display: flex;
  margin: 4rem auto;
  border-radius: 25px;
  padding: 12px;
  background-color: white;
}
#luk {
  position: fixed;
  padding: 20px;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

/*---------- Burger menu ----------*/

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    color: black;
    border: none;
    display: block;
    width: 44px;
    height: 44px;
    padding: 0.25rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    background-color: rgba(0, 0, 0, 0.4);
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}

@media (min-width: 600px) {
  .toggle-btn {
    display: none;
  }
}
