main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
}

img {
  width: 100%;
  height: 60%;
}

nav {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

button {
  padding: 10px;
  text-decoration: none;
  font-family: "Poiret One", cursive;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin: 1%;
  /* border: 2px solid black; */
  border-radius: 20px;
  background-color: #fff;
  /* border-image: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  border-image-slice: 1; */
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

h1 {
  font-family: "Amarante", cursive;
  text-align: center;
}

h2 {
  font-family: "Amarante", cursive;
}

p {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

h2,
p {
  padding-left: 10px;
}

nav {
  text-align: center;
}

article {
  border: 2px solid;
}

#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
}

#popup img {
  border: black 2px solid;
}

#popup section {
  padding: 2%;
}

#popup article {
  width: 80vw;
  display: flex;
  margin: 4rem;
  border-radius: 25px;
  padding: 12px;
  background-color: white;
}
#luk {
  position: fixed;
  padding: 20px;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

/*---------- Burger menu ----------*/

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    color: black;
    border: none;
    display: block;
    width: 50px;
    cursor: pointer;
    font-size: 1.3rem;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    box-shadow: 0 3px 9px black, inset 0 0 9px #8e9eab;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}

@media (max-width: 600px) {
  #popup {
    background-color: rgba(0, 0, 0, 0.8);
  }

  #popup img {
    width: 100px;
    margin: 2%;
    height: 15;
  }

  #popup section {
  }
  #luk {
    position: fixed;
    padding: 20px;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    cursor: pointer;
  }

  #popup article {
    width: 80vw;
    display: flex;
    margin: 4rem auto;
    border-radius: 15px;
    padding: 12px;
    background-color: white;
    font-family: sans-serif;
    border: none;
  }

  /* 
  p {
    width: 80%;
  } */

  nav {
    gap: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 600px) {
  .toggle-btn {
    display: none;
  }

  header {
    padding-bottom: 20px;
  }

  button {
    box-shadow: 0 3px 9px black, inset 0 0 9px #8e9eab;
    padding: 10px;
    text-decoration: none;
    font-family: "Poiret One", cursive;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin: 1%;
    border-radius: 20px;
    background-color: #fff;
  }

  nav {
    gap: 20px;
  }
}
